.data {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 0 10px 50px;
    width: 100%;
    text-align: left;
    color: moccasin;
    background-color: rgb(34, 32, 32);
    margin-bottom: 10px;
}

.p {
    font-weight: bold;
    color: tomato;
    font-size: 20px;
}

.img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}